<h1>Poems#show</h1>
<p>Find me in app/views/poems/show.html.erb</p>

<div id="poem-div">
  <div id="poem-title">
    <%= @poem.title %>
  </div>
  <div id="poem-body">
    <%= @poem.firstline %>
  </div>
</div>