<% if @poems.size > 0 %>
<thead>
  <tr>
    <th><!--Votes?--></th>
    <th>Title</th>
    <th>Author</th>
  </tr>
</thead>
<% end %>

<tbody>
<% @poems.each do |poem| %>

  <tr>
    <td><%= poem.votes %></td>
    <td><%= link_to poem.title, [poem.user, poem] %></td>
    <td><%= link_to poem.user.email, poem.user %></td>
  </tr>

<% end %>
</tbody>